body {
    overflow: scroll;
    padding: 10px;
}

header {
    width: 80%;
    margin: 10px;
}

footer{
    float:unset;
}


/*class*/
.dropdown-content{
    display:none;
}
.show{
    display:block;
}


/*id*/

#gologin{
    float:right;
}

#logo{
    float:left;
    width:10%;
}
#name {
    float: left;
    width: 10%;
}
#searchBar {
    width: 10%;
}



#main {
    width: 80%;
    height: 500px;
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
}



#about{
    float:left;
}
#findCont {
    float: left;
}
#searchBar{
}


#category {
    margin-left: 10%;
}
#catTitle {
}
#box1 {
    float: left;
    width: 15%;
    height: 70px;
    margin: 10px;
}
#box2 {
    float: left;
    width: 15%;
    height: 70px;
    margin: 10px;
}
#box3 {
    float: left;
    width: 15%;
    height: 70px;
    margin: 10px;
}
#box4 {
    float: left;
    width: 15%;
    height: 70px;
    margin: 10px;
}
#box5 {
    float:left;
    width: 15%;
    height: 70px;
    margin: 10px;
}
#box6 {
    width: 15%;
    height: 70px;
    margin: 10px;
}

#contest {
    float: left;
    margin: 10px;
    margin-left: 10%;
}
#con1 {
    float: left;
    width: 300px;
    height: 200px;
    margin: 10px;
}
#con2 {
    float: left;
    width: 300px;
    height: 200px;
    margin: 10px;
}
#con3 {
    float: left;
    width: 300px;
    height: 200px;
    margin: 10px;
}
#con4 {
    float: left;
    width: 300px;
    height: 200px;
    margin: 10px;
}

#con5 {
    float: left;
    width: 300px;
    height: 200px;
    margin: 10px;
}
#con6 {
    float: left;
    width: 300px;
    height: 200px;
    margin: 10px;
}

#resources {
    float: left;
    margin-left: 10%;
}

#res {
    width: 500px;
    height: 650px;
}
