<!DOCTYPE html>

<link type="text/css" rel="stylesheet" href="\views\home\index.css"">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>CONFLY</title>
</head>
<body>
    <header>
        <a id="logo" style="border:1px solid gray">
            LOGO HERE
        </a>
        <div id="name">
            name
        </div>
        <input id="searchBar" type="text" placeholder="Search..." />
    </header>
    <div id="menu" style="border:1px solid gray">
        <div id="about">
            About |
        </div>
        <div id="findCont">
            Find Contest |
        </div>
        <div id="findResource">
            Find resources |
        </div>
    </div>

    <div id="main" style="border:1px solid gray">
        @MAIN@
    </div>
    <div id="section2">
        <div id="category">
            <div id="catTitle">
                CATEGORIES
            </div>
            <div id="box1" style="border:1px solid gray">
                BOX1
            </div>
            <div id="box2" style="border:1px solid gray">
                BOX2
            </div>
            <div id="box3" style="border:1px solid gray">
                BOX3
            </div>
            <div id="box4" style="border:1px solid gray">
                BOX4
            </div>
            <div id="box5" style="border:1px solid gray">
                BOX5
            </div>
            <div id="box6" style="border:1px solid gray">
            </div>
        </div>
    </div>
    <div id="section3">
        <div id="contest">
            <div id="contTitle">
                CONTESTS
            </div>
            <div id="conrow1">
                <div id="con1" style="border:1px solid gray">
                    con1
                </div>
                <div id="con2" style="border:1px solid gray">
                    con2
                </div>
            </div>
            <div id="conrow2">
                <div id="con3" style="border:1px solid gray">
                    con3
                </div>
                <div id="con4" style="border:1px solid gray">
                    con4
                </div>
            </div>
            <div id="conrow3">
                <div id="con5" style="border:1px solid gray">
                    con5
                </div>
                <div id="con6" style="border:1px solid gray">
                    con6
                </div>
            </div>
        </div>
    </div>

        <div id="resources">
            <div id="resTitle">
                USEFUL RESOURCES
            </div>
            <div id="res" style="border:1px solid gray">

            </div>
        </div>
        <footer>
            find more...
        </footer>
</body>
</html>