<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <input id="id" type="text" placeholder="ID..." />
    </div>
    <div>
        <input id="pw" type="text" placeholder="PW..." />
    </div>
    <button id="loginBtn">
        login
    </button>
    <script src="/public/js/login.js"></script>
</body>
</html>