<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<script src="/public/js/login.js"></script>

<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <input id="idpart" type="text" placeholder="ID..." />
    </div>
    <div>
        <input id="passwordpart" type="text" placeholder="PW..." />
    </div>
    <button id="loginB">
        login
    </button>
</body>
</html>